<div class="sub-heading d-flex align-items-center justify-content-between p-2 border-bottom">
    <div>
        <h5>Connectors</h5>
    </div>
    <div class="d-flex align-items-center justify-content-end btn-group">
        <button type="button" class="btn btn-light border d-flex align-items-center" (click)="onNewClick($event)">
            <span class="bi bi-plus-circle me-2"></span>
            <span class="font-12">NEW</span>
        </button>
        <button type="button" class="btn btn-light border d-flex align-items-center" (click)="onImportClick($event)">
            <span class="bi bi-arrow-down-circle me-2"></span>
            <span class="font-12">IMPORT</span>
        </button>
        <button type="button" class="btn btn-light border d-flex align-items-center" (click)="onExportClick($event)">
            <span class="bi bi-arrow-up-circle me-2"></span>
            <span class="font-12">EXPORT</span>
        </button>
    </div>
</div>
<div class=" p-3">
    <div class="border rounded mb-3 w-100">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search">
    </div>
    <div class="d-flex flex-wrap w-100">
        <div *ngFor="let item of connectorListWithFilter"
            class="connector-card border rounded mx-2 mb-2 shadow-sm hover" (click)="onEditClicked($event,item)">
            <div class="d-flex align-items-center">
                <div class="thumbnail border rounded m-2 d-flex align-items-center justify-content-center font-20 bg-white p-2"
                    [innerHTML]="transform(item.thumbnail)"></div>
                <div class="d-flex align-items-start justify-content-between w-100">
                    <div class="d-flex justify-content-start flex-column">
                        <div class="fw-500">{{item.label}}</div>
                        <div class="text-muted font-12">{{item.type}}</div>
                    </div>
                    <small class="align-self-end text-muted font-10 me-2">v{{item.version.toFixed(1)}}</small>
                </div>
            </div>
        </div>
        <div *ngIf="!connectorListWithFilter || connectorListWithFilter.length==0" class="list-group-item">
            No Connectors
        </div>
    </div>
</div>

<ng-template #newConnector let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">New Connector</h4>
        <button type="button" class="btn-close" (click)="offcanvas.dismiss(false)"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <div class="mb-3">
                <label class="fw-500 font-12 text-uppercase mb-1" for="label">Label</label>
                <div class="input-group">
                    <input id="label" type="text" class="form-control" [(ngModel)]="newConnectorData.label">
                </div>
            </div>
            <div class="mb-3">
                <label class="fw-500 font-12 text-uppercase mb-1" for="type">Type</label>
                <div class="input-group">
                    <input id="type" type="text" class="form-control" [(ngModel)]="newConnectorData.type"
                        (ngModelChange)="changeToUpperCase($event,'type')">
                </div>
            </div>
            <div class="mb-3">
                <label class="fw-500 font-12 text-uppercase mb-1" for="category">Category</label>
                <div class="input-group">
                    <input id="category" type="text" class="form-control" [ngModel]="newConnectorData.category"
                        (ngModelChange)="changeToUpperCase($event,'category')">
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-success w-100" (click)="offcanvas.close(true)">Create</button>
        </div>
    </div>
</ng-template>