<div class="modal-header">
    <div class="modal-title">
        <h5>{{title}}</h5>
    </div>
    <button type="button" class="btn-close" (click)="activeModal.dismiss(false)"></button>
</div>
<div class="modal-body">
    <p [innerHTML]="message"></p>
</div>
<div class="modal-footer">
    <button type="button" (click)="activeModal.close(false)" class="btn btn-light border">No</button>
    <button *ngIf="type=='alert'" type="button" (click)="activeModal.close(true)" class="btn btn-dark">Yes</button>
    <button *ngIf="type=='delete'" type="button" (click)="activeModal.close(true)" class="btn btn-danger">Delete</button>
</div>