<div class="sub-heading d-flex align-items-center justify-content-between p-2 border-bottom">
    <div>
        <h5>Node List</h5>
    </div>
    <div class="d-flex align-items-center justify-content-end btn-group">
        <button type="button" class="btn btn-light border d-flex align-items-center" (click)="onNewClick($event)">
            <span class="bi bi-plus-circle me-2"></span>
            <span class="font-12">NEW</span>
        </button>
        <button type="button" class="btn btn-light border d-flex align-items-center" (click)="onImportClick($event)">
            <span class="bi bi-arrow-down-circle me-2"></span>
            <span class="font-12">IMPORT</span>
        </button>
        <button type="button" class="btn btn-light border d-flex align-items-center" (click)="onExportClick($event)">
            <span class="bi bi-arrow-up-circle me-2"></span>
            <span class="font-12">EXPORT</span>
        </button>
    </div>
</div>
<div class="d-flex align-items-start p-3">
    <div class="list-group me-3">
        <div class="list-group-item list-group-item-action" [class.active]="null==selectedGroup"
            (click)="selectedGroup=null">ALL</div>
        <div *ngFor="let item of groupList" [class.active]="item==selectedGroup"
            class="list-group-item list-group-item-action" (click)="selectedGroup=item">
            {{item|uppercase}}
        </div>
    </div>
    <div class="list-group w-100">
        <div *ngFor="let item of nodeList|filter:selectedGroup:'group'" class="list-group-item list-group-item-action"
            (click)="onEditClicked($event,item)">
            <div class="d-flex align-items-center">
                <span class="icon border rounded me-2 d-flex align-items-center justify-content-center font-20">
                    <i [class]="item.icon"></i>
                </span>
                <div class="d-flex align-items-start">
                    <div class="d-flex justify-centent-start flex-column">
                        <div class="fw-500">{{item.label}} <sup>(v{{item.version}})</sup></div>
                        <div class="text-muted font-12">{{item.type}}</div>
                    </div>
                    <!-- <span class="font-12 ms-3 mt-4">{{item.connectorType}}</span> -->
                </div>
            </div>
        </div>
    </div>
</div>