@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?gb1vtd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?gb1vtd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?gb1vtd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ni {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ni-cloud-file-rm {
  &:before {
    content: $ni-cloud-file-rm;     
    color: #c1272d;
  }
}
.ni-cloud-file-read {
  &:before {
    content: $ni-cloud-file-read;     
    color: #22b573;
  }
}
.ni-cloud-file-write {
  &:before {
    content: $ni-cloud-file-write;     
    color: #f7931e;
  }
}
.ni-cloud-file-ls {
  &:before {
    content: $ni-cloud-file-ls;     
    color: #2b6ed4;
  }
}
.ni-disk-mv {
  &:before {
    content: $ni-disk-mv;     
    color: #6372c1;
  }
}
.ni-disk-rm {
  &:before {
    content: $ni-disk-rm;     
    color: #c1272d;
  }
}
.ni-disk-read {
  &:before {
    content: $ni-disk-read;     
    color: #22b573;
  }
}
.ni-disk-write {
  &:before {
    content: $ni-disk-write;     
    color: #f7931e;
  }
}
.ni-disk-ls {
  &:before {
    content: $ni-disk-ls;     
    color: #2b6ed4;
  }
}
.ni-sftp-mv {
  &:before {
    content: $ni-sftp-mv;     
    color: #6372c1;
  }
}
.ni-sftp-rm {
  &:before {
    content: $ni-sftp-rm;     
    color: #c1272d;
  }
}
.ni-sftp-read {
  &:before {
    content: $ni-sftp-read;     
    color: #22b573;
  }
}
.ni-sftp-write {
  &:before {
    content: $ni-sftp-write;     
    color: #f7931e;
  }
}
.ni-sftp-ls {
  &:before {
    content: $ni-sftp-ls;     
    color: #2b6ed4;
  }
}
.ni-blob-rm {
  &:before {
    content: $ni-blob-rm;     
    color: #c1272d;
  }
}
.ni-blob-read {
  &:before {
    content: $ni-blob-read;     
    color: #22b573;
  }
}
.ni-blob-write {
  &:before {
    content: $ni-blob-write;     
    color: #f7931e;
  }
}
.ni-blob-ls {
  &:before {
    content: $ni-blob-ls;     
    color: #2b6ed4;
  }
}
.ni-smtp {
  &:before {
    content: $ni-smtp;     
    color: #2b6ed4;
  }
}
.ni-xlsx {
  &:before {
    content: $ni-xlsx;     
    color: #56b746;
  }
}
.ni-flat {
  &:before {
    content: $ni-flat;     
    color: #624971;
  }
}
.ni-txt {
  &:before {
    content: $ni-txt;     
    color: #6372c1;
  }
}
.ni-delimeter {
  &:before {
    content: $ni-delimeter;     
    color: #008ac8;
  }
}
.ni-csv {
  &:before {
    content: $ni-csv;     
    color: #a1b343;
  }
}
.ni-json {
  &:before {
    content: $ni-json;     
    color: #ff7c54;
  }
}
.ni-xml {
  &:before {
    content: $ni-xml;     
    color: #4e9157;
  }
}
.ni-process {
  &:before {
    content: $ni-process;     
    color: #2e3192;
  }
}
.ni-dataservice {
  &:before {
    content: $ni-dataservice;     
    color: #0071bc;
  }
}
.ni-queue-subscribe {
  &:before {
    content: $ni-queue-subscribe;     
    color: #6372c1;
  }
}
.ni-queue-publish {
  &:before {
    content: $ni-queue-publish;     
    color: #4e9157;
  }
}
.ni-folder {
  &:before {
    content: $ni-folder;     
    color: #fec928;
  }
}
.ni-sftp {
  &:before {
    content: $ni-sftp;     
    color: #fec866;
  }
}
.ni-render {
  &:before {
    content: $ni-render;     
    color: #603813;
  }
}
.ni-parse {
  &:before {
    content: $ni-parse;     
    color: #662d91;
  }
}
.ni-blob-delete {
  &:before {
    content: $ni-blob-delete;     
    color: #c1272d;
  }
}
.ni-blob-put {
  &:before {
    content: $ni-blob-put;     
    color: #0071bc;
  }
}
.ni-blob-get {
  &:before {
    content: $ni-blob-get;     
    color: #22b573;
  }
}
.ni-blob-list {
  &:before {
    content: $ni-blob-list;     
    color: #662d91;
  }
}
.ni-http-client {
  &:before {
    content: $ni-http-client;     
    color: #39b54a;
  }
}
.ni-http-server {
  &:before {
    content: $ni-http-server;     
    color: #3fa9f5;
  }
}
.ni-database-delete {
  &:before {
    content: $ni-database-delete;     
    color: #c1272d;
  }
}
.ni-database-update {
  &:before {
    content: $ni-database-update;     
    color: #f7931e;
  }
}
.ni-database-write {
  &:before {
    content: $ni-database-write;     
    color: #0071bc;
  }
}
.ni-database-read {
  &:before {
    content: $ni-database-read;     
    color: #22b573;
  }
}
.ni-timer {
  &:before {
    content: $ni-timer;     
    color: #179400;
  }
}

