@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?aceuwn') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?aceuwn') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?aceuwn##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ni {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ni-sftp {
  &:before {
    content: $ni-sftp;     
    color: #fec866;
  }
}
.ni-process {
  &:before {
    content: $ni-process;     
    color: #2e3192;
  }
}
.ni-dataservice {
  &:before {
    content: $ni-dataservice;     
    color: #0071bc;
  }
}
.ni-queue-subscribe {
  &:before {
    content: $ni-queue-subscribe;     
    color: #736357;
  }
}
.ni-queue-publish {
  &:before {
    content: $ni-queue-publish;     
    color: #2e3192;
  }
}
.ni-folder .path1 {
  &:before {
    content: $ni-folder-path1;  
    color: rgb(254, 201, 40);
  }
}
.ni-folder .path2 {
  &:before {
    content: $ni-folder-path2;  
    margin-left: -1em;  
    color: rgb(254, 159, 0);
  }
}
.ni-folder .path3 {
  &:before {
    content: $ni-folder-path3;  
    margin-left: -1em;  
    color: rgb(254, 214, 93);
  }
}
.ni-folder .path4 {
  &:before {
    content: $ni-folder-path4;  
    margin-left: -1em;  
    color: rgb(254, 214, 93);
  }
}
.ni-folder .path5 {
  &:before {
    content: $ni-folder-path5;  
    margin-left: -1em;  
    color: rgb(254, 214, 93);
  }
}
.ni-folder .path6 {
  &:before {
    content: $ni-folder-path6;  
    margin-left: -1em;  
    color: rgb(254, 184, 65);
  }
}
.ni-folder .path7 {
  &:before {
    content: $ni-folder-path7;  
    margin-left: -1em;  
    color: rgb(254, 184, 65);
  }
}
.ni-render {
  &:before {
    content: $ni-render;     
    color: #603813;
  }
}
.ni-parse {
  &:before {
    content: $ni-parse;     
    color: #662d91;
  }
}
.ni-blob-delete {
  &:before {
    content: $ni-blob-delete;     
    color: #c1272d;
  }
}
.ni-blob-put {
  &:before {
    content: $ni-blob-put;     
    color: #0071bc;
  }
}
.ni-blob-get {
  &:before {
    content: $ni-blob-get;     
    color: #39b54a;
  }
}
.ni-blob-list {
  &:before {
    content: $ni-blob-list;     
    color: #662d91;
  }
}
.ni-http-client {
  &:before {
    content: $ni-http-client;     
    color: #39b54a;
  }
}
.ni-http-server {
  &:before {
    content: $ni-http-server;     
    color: #3fa9f5;
  }
}
.ni-database-delete {
  &:before {
    content: $ni-database-delete;     
    color: #c1272d;
  }
}
.ni-database-update {
  &:before {
    content: $ni-database-update;     
    color: #f7931e;
  }
}
.ni-database-write {
  &:before {
    content: $ni-database-write;     
    color: #0071bc;
  }
}
.ni-database-read {
  &:before {
    content: $ni-database-read;     
    color: #22b573;
  }
}
.ni-timer {
  &:before {
    content: $ni-timer;     
    color: #179400;
  }
}

