$icomoon-font-family: "node-icons" !default;
$icomoon-font-path: "fonts" !default;

$ni-sftp: unquote('"\\e900"');
$ni-process: unquote('"\\e901"');
$ni-dataservice: unquote('"\\e902"');
$ni-queue-subscribe: unquote('"\\e903"');
$ni-queue-publish: unquote('"\\e904"');
$ni-folder-path1: unquote('"\\e905"');
$ni-folder-path2: unquote('"\\e906"');
$ni-folder-path3: unquote('"\\e907"');
$ni-folder-path4: unquote('"\\e908"');
$ni-folder-path5: unquote('"\\e909"');
$ni-folder-path6: unquote('"\\e90a"');
$ni-folder-path7: unquote('"\\e90b"');
$ni-render: unquote('"\\e90c"');
$ni-parse: unquote('"\\e90d"');
$ni-blob-delete: unquote('"\\e90e"');
$ni-blob-put: unquote('"\\e90f"');
$ni-blob-get: unquote('"\\e910"');
$ni-blob-list: unquote('"\\e911"');
$ni-http-client: unquote('"\\e912"');
$ni-http-server: unquote('"\\e913"');
$ni-database-delete: unquote('"\\e914"');
$ni-database-update: unquote('"\\e915"');
$ni-database-write: unquote('"\\e916"');
$ni-database-read: unquote('"\\e917"');
$ni-timer: unquote('"\\e918"');

