$icomoon-font-family: "node-icons" !default;
$icomoon-font-path: "fonts" !default;

$ni-cloud-file-rm: unquote('"\\e900"');
$ni-cloud-file-read: unquote('"\\e901"');
$ni-cloud-file-write: unquote('"\\e902"');
$ni-cloud-file-ls: unquote('"\\e903"');
$ni-disk-mv: unquote('"\\e904"');
$ni-disk-rm: unquote('"\\e905"');
$ni-disk-read: unquote('"\\e906"');
$ni-disk-write: unquote('"\\e907"');
$ni-disk-ls: unquote('"\\e908"');
$ni-sftp-mv: unquote('"\\e909"');
$ni-sftp-rm: unquote('"\\e90a"');
$ni-sftp-read: unquote('"\\e90b"');
$ni-sftp-write: unquote('"\\e90c"');
$ni-sftp-ls: unquote('"\\e90d"');
$ni-blob-rm: unquote('"\\e90e"');
$ni-blob-read: unquote('"\\e90f"');
$ni-blob-write: unquote('"\\e910"');
$ni-blob-ls: unquote('"\\e911"');
$ni-smtp: unquote('"\\e912"');
$ni-xlsx: unquote('"\\e913"');
$ni-flat: unquote('"\\e914"');
$ni-txt: unquote('"\\e915"');
$ni-delimeter: unquote('"\\e916"');
$ni-csv: unquote('"\\e917"');
$ni-json: unquote('"\\e918"');
$ni-xml: unquote('"\\e919"');
$ni-process: unquote('"\\e91a"');
$ni-dataservice: unquote('"\\e91b"');
$ni-queue-subscribe: unquote('"\\e91c"');
$ni-queue-publish: unquote('"\\e91d"');
$ni-folder: unquote('"\\e91e"');
$ni-sftp: unquote('"\\e91f"');
$ni-render: unquote('"\\e920"');
$ni-parse: unquote('"\\e921"');
$ni-blob-delete: unquote('"\\e922"');
$ni-blob-put: unquote('"\\e923"');
$ni-blob-get: unquote('"\\e924"');
$ni-blob-list: unquote('"\\e925"');
$ni-http-client: unquote('"\\e926"');
$ni-http-server: unquote('"\\e927"');
$ni-database-delete: unquote('"\\e928"');
$ni-database-update: unquote('"\\e929"');
$ni-database-write: unquote('"\\e92a"');
$ni-database-read: unquote('"\\e92b"');
$ni-timer: unquote('"\\e92c"');

