.editor {
    min-height: 400px;
}

.thumbnail {
    min-width: 144px;
    min-height: 144px;
}

.key-val {
    .key {
        min-width: 160px;
    }
}

.field-list {
    .card {
        width: 300px;
    }
}